.banner-footer {
    position: absolute;
    height: 52px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.banner-footer ul {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.banner-footer ul li {
    padding: 0 2rem;
}