@import "../../../../assets/styles/mixins";
.steps-form__field-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  @include portrait {
    flex-direction: row;
    margin-bottom: 1rem;
  }
}

.step-input-field {
  .input-field {
    border: 1px solid #d8e1e6;
  }
  width: 100%;
  @include portrait {
    width: 48%;
  }

  .ui.selection.dropdown {
    width: 100%;
    @include portrait {
      height: 48px;
      display: flex;
      align-items: center;

      .text {
        line-height: 16px;
      }

      > .dropdown.icon {
        height: 100%;
      }
    }
  }
}
